@import 'base.scss';
@import 'partials.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  background: $backround-color;
  height: 100vh;
  header {
    clip-path: polygon(0% 0%, 100% 0%, 100% 73.5%, 69.1% 85.8%, 47.7% 76.5%, 25.2% 90.8%, 13.1% 83.8%, 0% 100%);    
    background-color: $primary-color;
    background: linear-gradient(353deg, rgba(2,0,36,1) 0%, rgba(63,35,94,1) 76%);
    height: 20vh;  
  }
  footer {
    text-align: center;
    margin-top: 40px;
  }
  h1 {
    color: $secondary-color;
    font-weight: 400;
  }
  .payment-form {
    background: $backround-color;
    width: 300px;
    padding-top: 25px;
    @media only screen and (max-width: 500px) {
      width: 100%;
    }
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      label {
        width: 100%;
        color: rgba(145, 145, 145, 0.7);
        font-size: 13px;
        select, input {
          width: 100%;
          height: 40px;
          margin-bottom: 15px;
          padding: 0 20px;
          box-sizing: border-box;
          border: 1px solid rgb(236, 236, 236);
          box-shadow: 0 4px 8px 0 rgba(145, 145, 145, 0.1), 0 6px 20px 0 rgba(92, 92, 92, 0.1);
          border-radius: 50px;
          background-color: #ffffff;
          resize: none;
        }
        select {

        }
      }
      .submit {
        background-color:$primary-color;
        color: white;
        height: 40px;
        width: 100%;
        border-radius: 50px;
        font-weight: 600;
        border: none;
        margin-top: 20px;
      }
    }
  }
}