@import '../../styles/base.scss';
@import '../../styles/partials.scss';

.App {
  h1 {
    color: $primary-color;
  }
  footer {
    text-align: center;
    margin-top: 40px;
  }
  .payment-form {
    background: rgb(255, 255, 255);
    height: 100vh;
    width: 300px;
    @media only screen and (max-width: 400px) {
      width: 100%;
    }
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      label {
        width: 100%;
        select, input {
          width: 100%;
        }
      }
    }
  }
}